<dl class="attribute-list">
  <dt>Name:</dt>
  <dd><%= @date_range.name %></dd>
  <dt>Code:</dt>
  <dd><%= @date_range.code %></dd>
  <dt>Start Date:</dt>
  <dd><%= @date_range.start_date %></dd>
  <dt>End Date:</dt>
  <dd><%= @date_range.end_date %></dd>
</dl>
<hr />
<h3>Facsimiles with this Date Range</h3>
<%= render :partial => 'admin/facsimiles/listing', :locals => { :facsimiles => @date_range.facsimiles } %>

<div>
  <%= link_to 'Edit', edit_admin_date_range_path(@date_range), :class => 'button' %>
  <%= link_to 'Date Range Listing', admin_date_ranges_path, :class => 'button' %>
</div>
