<h2>Listing Languages</h2>

<div id="listing-nav" class="span-24 last">
  <%= form_tag(admin_languages_path, :method => "get", :id => "search", :class => "span-10") do %>
    <fieldset>
      <legend>Language Search</legend>
      <ol>
        <li>
          <label>Name:</label>
          <%= text_field_tag :q, h(params[:q]) %>
        </li>
      </ol>
      <fieldset class="buttons">
        <%= submit_tag "Go", :class => 'button' %>
        <input type="reset" class="button reset refresh" value="Reset" />
      </fieldset>
    </fieldset>
  <% end %>

  <% if can? :create, Language %>
    <%= link_to 'New Language', new_admin_language_path, :class => 'button' %>
  <% end %>
  <%= paginate @languages %>
</div>

<table class="listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Facsimiles</th>
      <th class="action-links">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @languages.each do |language| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= language.name             %></td>
        <td><%= language.facsimiles.count %></td>
        <td class="action-links">
          <%= icon_show_admin_link(language) %>
          <%= icon_edit_admin_link(language) if can? :edit, Language %>
          <%= icon_destroy_admin_link(
            language,
            "Are you sure you want to destroy this Language?\nThis action cannot be undone."
            ) if can? :destroy, Language
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Language %>
  <%= link_to 'New Language', new_admin_language_path, :class => 'button' %>
<% end %>
<%= paginate @languages %>
