<% if @microfilm.new_record? %>
  <div class="help span-5 notice">
    You can choose default values for some of the attributes of a new microfilm in <%= link_to "your profile", edit_admin_user_path(current_user) %>.
  </div>
<% end %>
<div class="span-18 last">
  <%= semantic_form_for [:admin, @microfilm] do |form| %>
    <%= form.inputs do %>
      <% if @microfilm.new_record? %>
        <%= form.input :library_id, :as => :select, :collection => Library.ordered, :member_label => :name_with_city, :selected => current_user.default_attribute_for(:library_id).to_i  %>
      <% else %>
        <%= form.input :library_id, :as => :select, :collection => Library.ordered, :member_label => :name_with_city %>
      <% end %>
      <%= form.input :shelf_mark %>
      <%= form.input :mss_name %>
      <%= form.input :mss_note, :as => :text, :label => "Note", :input_html => { :class => 'autogrow', :rows => 2 } %>
      <%= form.input :location_id, :as => :select, :collection => Location.ordered %>
      <% if @microfilm.new_record? %>
        <%= form.input :collection_id, :as => :select, :collection => Collection.ordered, :selected => current_user.default_attribute_for(:collection_id).to_i  %>
      <% else %>
        <%= form.input :collection_id, :as => :select, :collection => Collection.ordered %>
      <% end %>
      <%= form.input :reel %>
    <% end %>
    <%= form.action :submit, :as => :button %>
  <% end %>
</div>
