<h2>Listing Countries of Origin</h2>

<div id="listing-nav" class="span-24 last">
  <%= form_tag(admin_countries_path, :method => "get", :id => "search", :class => "span-10") do %>
    <fieldset>
      <legend>Country Search</legend>
      <ol>
        <li>
          <label>Name:</label>
          <%= text_field_tag :q, h(params[:q]) %>
        </li>
      </ol>
      <fieldset class="buttons">
        <%= submit_tag "Go", :class => 'button' %>
        <input type="reset" class="button reset refresh" value="Reset" />
      </fieldset>
    </fieldset>
  <% end %>

  <% if can? :create, Country %>
    <%= link_to 'New Country', new_admin_country_path, :class => 'button' %>
  <% end %>
  <%= paginate @countries %>
</div>

<table class="listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Facsimiles</th>
      <th class="action-links">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= country.name             %></td>
        <td><%= country.facsimiles.count %></td>
        <td class="action-links">
          <%= icon_show_admin_link(country) %>
          <%= icon_edit_admin_link(country) if can? :edit, Country %>
          <%= icon_destroy_admin_link(
            country,
            "Are you sure you want to destroy this Country?\nThis action cannot be undone."
            ) if can? :destroy, Country
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Country %>
  <%= link_to 'New Country', new_admin_country_path, :class => 'button' %>
<% end %>
<%= paginate @countries %>
