<h2>Listing Libraries</h2>

<div id="listing-nav" class="span-24 last">
  <%= form_tag(admin_libraries_path, :method => "get", :id => "search", :class => "span-10") do %>
    <fieldset>
      <legend>Library Search</legend>
      <ol>
        <li>
          <label>Name:</label>
          <%= text_field_tag :q, h(params[:q]) %>
        </li>
      </ol>
      <fieldset class="buttons">
        <%= submit_tag "Go", :class => 'button' %>
        <input type="reset" class="button reset refresh" value="Reset" />
      </fieldset>
    </fieldset>
  <% end %>

  <% if can? :create, Library %>
    <%= link_to 'New Library', new_admin_library_path, :class => 'button' %>
  <% end %>
  <%= paginate @libraries %>
</div>

<table class="listing">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th>Number of Facsimiles</th>
      <th class="action-links">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @libraries.each do |library| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%=h library.city_name        %></td>
      <td><%=h library.name             %></td>
      <td><%=h library.facsimiles.count %></td>
      <td class="action-links">
        <%= icon_show_admin_link(library) %>
        <%= icon_edit_admin_link(library) if can? :edit, Library %>
        <%= icon_destroy_admin_link(
          library,
          "Are you sure you want to destroy this library?\nThis action cannot be undone."
          ) if can? :destroy, Library
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, Library %>
  <%= link_to 'New Library', new_admin_library_path, :class => 'button' %>
<% end %>
<%= paginate @libraries %>
