<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= '<meta name="robots" content="noindex, nofollow">'.html_safe unless Rails.env == 'production' %>
    <%= raw(render_head_content) %> 
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'local', 'template' %>
    <%= stylesheet_link_tag 'local-print', :media => :print %> 
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body class="<%= render_body_class %>">
    <div id="doc4" class="yui-t2">
      <div id="banner">
        <h3><a href="http://www.library.nd.edu/">Hesburgh Libraries</a></h3>
        <h4><a href="/">Medieval Institute Library</a></h4>
        <span class="tell-us" id="tell-us"><a href="http://www.library.nd.edu/feedback.php"><img alt="Tell us what you think" src="http://www.library.nd.edu/css/images/tellus.png" /></a></span>
      </div>
      <%= render :partial=>'template/main_menu' %>

      <%= render :partial => 'shared/header_navbar' %>

      <div id="crumbs">
        <a href="http://www.library.nd.edu/">Hesburgh Libraries</a> &gt;
        <a href="http://medieval.library.nd.edu">Medieval Institute Library</a> &gt;
        <a href="/"><%= application_name %></a>
      </div>

      <div id="main-container" class="container">
            <!-- Top bar -->
        <div id="search-found" class="row hidden-phone">
          <%= topbar_items.join('').html_safe %>
        </div>
            <!-- /Top bar -->
        <div class="row">
          <div class="span12">
            <div id="main-flashes">
              <%= render :partial=>'/flash_msg' %>
            </div>
          </div>    
        </div>              

        <div class="row">
          <%= yield %>
        </div>   
      </div>
      <%= render partial: 'template/footer' %>
    </div>
    <div>
      <script type="text/javascript" src="http://www.library.nd.edu/js/superfish.js"></script>
      <script type="text/javascript" src="http://www.library.nd.edu/js/hoverIntent.js"></script>
      <%= javascript_include_tag 'underscore-min', 'local' %>
      <%= render :partial=>'shared/tracking' %>
    </div>
  </body>
</html>
